# HC Cleaning

In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
HC= pd.read_excel('nk_it_aoiebola_structuresanitaire.xls')
HC.head()

,PAYS,PROVINCE,NOMZS,CODEZS,NOMAS,CODEAS,NOM,CODEHC,TYPE,EDITI_PAR,POINT_X,POINT_Y,OPERATIONE,SOURCE,STATUT,DATE,FIABILITE
0,RDC,Nord-Kivu,ALIMBONGO,612302.0,CHECK BUYINGA,61230100,CS NGENGERE,NaN,CENTRE DE SANTE,OMS-DSNIS,28.633333,-0.116667,0,NaN,NaN,2018-12-29,TRES BAS
1,RDC,Nord-Kivu,ALIMBONGO,612302.0,CHECK BUYINGA,61230100,PS NGELE,NaN,POSTE DE SANTE,OMS-DSNIS,28.633333,-0.116667,0,NaN,NaN,2018-12-29,A VERIFIER
2,RDC,Nord-Kivu,ALIMBONGO,612302.0,CHECK BUYINGA,61230100,CS KASABINYOLE,NaN,CENTRE DE SANTE,OMS-DSNIS,28.666667,-0.383333,0,NaN,NaN,2018-12-29,TRES BAS
3,RDC,Nord-Kivu,ALIMBONGO,612302.0,CHECK BUYINGA,61230100,CS KYANGIKE,NaN,CENTRE DE SANTE,OMS-DSNIS,28.766667,-0.250000,0,NaN,NaN,2018-12-29,A VERIFIER
4,RDC,Nord-Kivu,ALIMBONGO,612302.0,BUNYATENGE,61230203,CS BUNYATENGE,6.123020e+09,CENTRE DE SANTE,OMS-DSNIS,28.848931,-0.449229,0,NaN,NaN,2018-12-29,BASSE

In [3]:
HC.PROVINCE.unique()

array(['Nord-Kivu', 'NON DEFINIE', 'Ituri', 'SUD-KIVU', 'NORK KIVU'],
      dtype=object)

In [4]:
HC.drop(HC[HC['PROVINCE'] == 'NON DEFINIE' ].index , inplace=True)
HC.drop(HC[HC['PROVINCE'] == 'SUD-KIVU' ].index , inplace=True)
HC.replace({'NORK KIVU': 'Nord-Kivu'}, inplace=True)
HC.rename(columns={'POINT_X': 'LONGITUDE', 'POINT_Y': 'LATITUDE', 'NOMZS': 'NOM_ZS'}, inplace=True)

In [5]:
HC.PROVINCE.unique()

array(['Nord-Kivu', 'Ituri'], dtype=object)

In [11]:
HC.TYPE.unique()

array(['CENTRE DE SANTE', 'POSTE DE SANTE',
       'CENTRE DE SANTE DE REFERENCE',
       'BUREAU CENTRAL DE LA ZONE DE SANTE', 'DISPENSAIRE',
       'TRADI PRATICIEN', 'CENTRE MEDICAL', 'CLINIQUE', 'LABORATOIRE',
       'CENTRE HOSPITALIER', 'CENTRE PSYCHIATRIQUE', 'MORGUE',
       "CENTRE DE TRAITEMENT D'EBOLA", 'HOPITAL GENERAL DE REFERENCE',
       'CENTRE PSYCHOLOGIQUE', nan, "UNITE TRANSITOIRE D'ISOLEMENT",
       'PHARMACIE', 'AUTRE', 'CENTRE LEDICAL', 'BANQUE DU SANG',
       'CENTRE MEDICO CHIRURGICAL', "LABORATOIRE D'ANALYSE",
       'HOPITAL PROVINCIAL DU Nord-Kivu', 'TRADIPRATICIEN',
       'BURAE CENTRAL DE LA ZONE DE SANTE', 'CENTRE ORTHOPEDIQUE',
       'KINESITHERAPIE', 'DENTISTERIE', 'CENTRE PEDIATRIQUE',
       'INSTITUT MEDICO CHIRURGICAL', 'SSC', "POINT D'ENTREE",
       "CENTRE DE  TRAITEMENT D'EBOLA", 'CENTRE DE CENTE',
       'BUREAU CENTRAL DE LA  ZONE DE SANTE', 'CNT', 'CENTRE DE ANTE'],
      dtype=object)

In [12]:
HC.isna().sum()

PAYS             1
PROVINCE         0
NOM_ZS           0
CODEZS           0
NOMAS            0
CODEAS           9
NOM              0
CODEHC          43
TYPE            17
EDITI_PAR        1
LONGITUDE        0
LATITUDE         0
OPERATIONE       0
SOURCE         699
STATUT        2103
DATE           423
FIABILITE       55
dtype: int64

In [10]:
HC.describe()

              CODEZS        CODEHC    LONGITUDE     LATITUDE  OPERATIONE
count    2551.000000  2.508000e+03  2551.000000  2551.000000      2551.0
mean   600043.176401  6.003084e+09    29.382207     0.042667         0.0
std     26577.147120  2.878582e+08     0.358004     0.972480         0.0
min    545101.000000  0.000000e+00    28.060885    -1.740000         0.0
25%    611201.000000  6.112010e+09    29.223516    -0.288129         0.0
50%    612701.000000  6.127010e+09    29.302460     0.153180         0.0
75%    613105.000000  6.131050e+09    29.451840     0.521549         0.0
max    614201.000000  6.142010e+09    30.645129     1.953770         0.0

In [6]:
HC.to_csv('health_centers.csv', index=False)